<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %><!--チャットルーム名の情報は、すでにコントローラーの@roomで取得できているため、_main_chat.html.erbを以下のように編集しましょう。-->
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
       <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
   <!--「rails routes」コマンドを実行すると、roomsコントローラーのdestroyアクションに対応するPrefixは、roomということが分かります。
    したがって、削除のパスはroom_pathとなります。
    削除するチャットルームを区別するために、定義している@roomを引数にし、room_path(@room)と指定しましょう。
    HTTPメソッドのdeleteを指定すると、roomsコントローラーのdestroyアクションが実行されます。

    destroyアクションが実行されると、roomを削除することができます。
    最後に、roomを削除したときに、そのroomに関連する情報も削除されるように設定します。-->
   </div>
  </div>
</div>
<div class="messages">
  <%= render partial: 'message', collection: @messages %><!--このように記述することで、_message.html.erbを部分テンプレートとして、読み込むことができます。-->
</div>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>